.navbar {
  font-family: "Poppins", sans-serif;
}

.logo{
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius:50% 50%;
}

.title-icon{
    border-radius: 50% 50%;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}

.br{
    filter: brightness(60%)
}

.font{
    font-family: Verdana, sans-serif;
}

.sub-font{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}